# Set default behavior to automatically normalize line endings.
* text=auto

# Explicitly declare text files we want to always normalize.
*.css text
*.js text
*.html text
*.json text
*.md text

# Denote all files that should be treated as binary.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.zip binary
*.pdf binary
*.mp4 binary
